<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number_eight_style_50</string>
	<string>number_eleven_style_50</string>
	<string>number_nine_style_50</string>
	<string>number_nine_style_51</string>
	<string>number_seven_style_3</string>
	<string>number_seven_style_50</string>
	<string>number_six_style_50</string>
	<string>number_ten_style_50</string>
	<string>number_ten_style_51</string>
	<string>number_ten_style_52</string>
	<string>number_thirteen_style_50</string>
	<string>number_Twelve_style_50</string>
</array>
</plist>
