<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number_eight_style_60</string>
	<string>number_eight_style_61</string>
	<string>number_six_style_60</string>
	<string>number_ten_style_60</string>
</array>
</plist>
