<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>5图② - 4竖图1横图</string>
	<string>5图① - 5竖图</string>
	<string>6图① - 4竖图2横图</string>
	<string>6图② - 6竖图</string>
</array>
</plist>
