<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number_eleven_style_20</string>
	<string>number_nine_style_111</string>
	<string>number_four_style_1</string>
	<string>number_eight_style_20</string>
	<string>number_eight_style_30</string>
	<string>number_eight_style_40</string>
	<string>number_eight_style_50</string>
	<string>number_eight_style_60</string>
	<string>number_eight_style_61</string>
</array>
</plist>
