<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>8图① - 6竖图2横图</string>
	<string>8图② - 8竖图</string>
	<string>8图③ - 4竖图3横图1方图</string>
	<string>11图① - 5竖图6方图</string>
	<string>5图② - 4竖图1横图</string>
	<string>5图① - 5竖图</string>
	<string>9图① - 9竖图</string>
	<string>7图① - 7竖图</string>
	<string>7图② - 5竖图2横图</string>
	<string>6图① - 4竖图2横图</string>
	<string>6图② - 6竖图</string>
	<string>10图① - 7竖图3横图</string>
	<string>10图② - 10竖图</string>
	<string>10图③ - 6竖图4横图</string>
	<string>13图① - 13竖图</string>
	<string>12图① - 10竖图2横图</string>
	<string>12图② - 7竖图5横图</string>
</array>
</plist>
