<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>8图① - 8竖图</string>
	<string>11图② - 5竖图6方图</string>
	<string>7图③ - 5竖图2横图</string>
	<string>6图① - 6竖图</string>
	<string>10图① - 10竖图</string>
	<string>10图② - 7竖图3横图</string>
	<string>13图② - 13竖图</string>
</array>
</plist>
