<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>9图③ - 9竖图</string>
	<string>7图③ - 7竖图</string>
	<string>8图③ - 8竖图</string>
	<string>10图⑦ - 10竖图</string>
	<string>6图③ - 6竖图</string>
</array>
</plist>
