<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number_eight_style_30</string>
	<string>number_eleven_style_30</string>
	<string>number_five_style_30</string>
	<string>number_nine_style_30</string>
	<string>number_seven_style_30</string>
	<string>number_seven_style_31</string>
	<string>number_six_style_30</string>
	<string>number_ten_style_30</string>
	<string>number_ten_style_31</string>
	<string>number_ten_style_32</string>
	<string>number_thirteen_style_30</string>
	<string>number_Twelve_style_30</string>
</array>
</plist>
