<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>number_eight_style_20</string>
	<string>number_eight_style_30</string>
	<string>number_eight_style_40</string>
	<string>number_eight_style_50</string>
	<string>number_eight_style_60</string>
	<string>number_eight_style_61</string>
	<string>number_eleven_style_20</string>
	<string>number_eleven_style_30</string>
	<string>number_eleven_style_40</string>
	<string>number_eleven_style_50</string>
	<string>number_five_style_30</string>
	<string>number_nine_style_20</string>
	<string>number_nine_style_30</string>
	<string>number_nine_style_40</string>
	<string>number_nine_style_41</string>
	<string>number_nine_style_50</string>
	<string>number_nine_style_51</string>
	<string>number_seven_style_20</string>
	<string>number_seven_style_21</string>
	<string>number_seven_style_30</string>
	<string>number_seven_style_31</string>
	<string>number_seven_style_40</string>
	<string>number_seven_style_50</string>
	<string>number_six_style_20</string>
	<string>number_six_style_30</string>
	<string>number_six_style_40</string>
	<string>number_six_style_50</string>
	<string>number_six_style_60</string>
	<string>number_ten_style_20</string>
	<string>number_ten_style_21</string>
	<string>number_ten_style_30</string>
	<string>number_ten_style_31</string>
	<string>number_ten_style_32</string>
	<string>number_ten_style_40</string>
	<string>number_ten_style_41</string>
	<string>number_ten_style_42</string>
	<string>number_ten_style_50</string>
	<string>number_ten_style_51</string>
	<string>number_ten_style_52</string>
	<string>number_ten_style_60</string>
	<string>number_thirteen_style_20</string>
	<string>number_thirteen_style_30</string>
	<string>number_thirteen_style_40</string>
	<string>number_thirteen_style_50</string>
	<string>number_Twelve_style_30</string>
	<string>number_Twelve_style_40</string>
	<string>number_Twelve_style_50</string>
</array>
</plist>
