<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>9图④ - 9竖图</string>
	<string>7图④ - 7竖图</string>
	<string>10图③ - 10竖图</string>
	<string>6图④ - 6竖图</string>
	<string>8图④ - 8竖图</string>
</array>
</plist>
