<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>11图④ - 5竖图6方图</string>
	<string>9图④ - 9竖图</string>
	<string>9图⑤ - 9竖图</string>
	<string>7图④ - 7竖图</string>
	<string>10图⑥ - 7竖图3横图</string>
	<string>10图③ - 10竖图</string>
	<string>10图④ - 10竖图</string>
	<string>13图④ - 13竖图</string>
	<string>12图② - 9竖图3横图</string>
</array>
</plist>
