<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>11图⑤ - 5竖图6方图</string>
	<string>9图⑥ - 9竖图</string>
	<string>9图⑦ - 9竖图</string>
	<string>7图⑤ - 7竖图</string>
	<string>10图⑦ - 7竖图3横图</string>
	<string>10图⑤ - 10竖图</string>
	<string>10图⑥ - 10竖图</string>
	<string>13图⑤ - 13竖图</string>
	<string>12图③ - 9竖图3横图</string>
</array>
</plist>
